<div class="container">  
  <div class="row">
    <div class="col-sm-4 top">
      <a [routerLink]="['/']">
        <i class="fa fa-dashboard"></i> Book A Ticket
      </a>
    </div>
    <div class="col-sm-4 pull-right">
        <ngx-flash-messages></ngx-flash-messages>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Age</th>
          <th>Seat No.</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of bookedTickets">
          <td>{{ticket.name}}</td>
          <td>{{ticket.age}}</td>
          <td>{{ticket.seat}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>