.top {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.form-check-input:disabled~.form-check-label {
    color: rgba(0, 0, 0, 0.9);
}

input:disabled, textarea:disabled {
    color: rgba(0, 0, 0, 0.9);
    cursor: default;
}
a {
    color: #007bff !important;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}